@page
@model DeskModel

@{
    ViewData["Title"] = "Desk";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                </tr>
                @foreach (var item in Model.AllDesks)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
